* {
  box-sizing: border-box;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
h1 {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  min-width: 800px;
}

main.content {
  padding-top: 80px;
  padding-bottom: 50px;
}

body {
  font-family: "Philosopher", sans-serif;
  font-size: 18px;
}

a {
  cursor: pointer;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

header,
main,
footer {
  text-align: center;
}

header {
  text-transform: uppercase;
}

#welcome-div {
  background-image: url("http://www.glossa-group.com/fileadmin/background/background11.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

form {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

#exampleInputEmail1.red-border {
  border: 2px solid red;
}

#welcome-title-div {
  height: 400px;
}

#welcome-title {
  font-family: "Philosopher", sans-serif;
  font-size: 100px;
  margin-top: 0 !important;
  padding-top: 80px;
}

#indexNavbar {
  background: #4d4d4d !important;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.post-nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid;
}

.post-nav li {
  padding-bottom: 5px;
  display: table-cell;
}

.post-nav a {
  color: black !important;
  text-decoration: none;
}

#post-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}

#single-post-container {
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 60px;
  padding-top: 35px;
  width: 60%;
  margin: 20px auto;
  position: relative;
  text-align: left;
}

.single-post-language {
  height: 100px;
  width: 100px;
  position: absolute;
  left: -40px;
  top: 50px;
  border: 3px solid whitesmoke;
  font-size: 45px;
  padding-top: 24px;
  background-color: white;
  text-align: center;
}

#create-post-card {
  /*height: 400px;*/
  width: 50%;
  min-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
}

.input-container {
  width: 450px;
}

#login-card {
  height: 300px;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #white;
}

#signup-card {
  height: 500px;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #white;
}

#update-profile-card {
  height: 500px;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #white;
}

.post-card {
  height: 300px;
  width: 300px;
  margin: 15px !important;
  padding: 20px;
  padding-top: 40px;
  background-color: white;
  text-align: left;
  position: relative;
}

.language-div {
  height: 40px;
  width: 40px;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  top: -15px;
  left: -15px;
}

.skill-div {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: left;
  background: lightgray;
  padding: 5px;
  border-radius: 3px;
}

.submittedby-p {
  font-size: 15px;
  color: gray;
}

.post-card ul,
#single-post-container ul {
  list-style: none;
  padding-left: 0;
}

.delete-button {
  bottom: 20px;
  right: 20px;
  border-radius: 2px;
  position: absolute;
  background-color: firebrick !important;
  text-align: center;
  padding: 10px;
  color: white;
}

.KR {
  background: red;
}

.JP {
  background: blue;
  color: white;
}

.EN {
  background: white;
  border: 1px solid lightgray;
}

.SP {
  background: #145314;
  color: white;
}

.DU {
  background: orange;
}

.GR {
  background: black;
  color: white;
}

.beginner {
  background: #FFD700;
}

.intermediate {
  background: #ffb732;
}

.advanced {
  background: #E50000;
  color: white;
}
