* {
  box-sizing: border-box;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
h1 {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  min-width: 800px;
}

body {
  font-family: "Philosopher", sans-serif;
  font-size: 18px;
}

a {
  cursor: pointer;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

header,
main,
footer {
  text-align: center;
}

header {
  text-transform: uppercase;
}

#welcome-div {
  background-image: url("http://www.glossa-group.com/fileadmin/background/background11.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

form {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

#exampleInputEmail1.red-border {
  border: 2px solid red;
}

#welcome-title-div {
  height: 400px;
}

#welcome-title {
  font-family: "Philosopher", sans-serif;
  font-size: 100px;
  margin-top: 0 !important;
  padding-top: 80px;
}

#indexNavbar {
  background: #4d4d4d;
  position: fixed;
  top: 0;
  z-index: 1;
}

/*#about {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70%;
  margin: 20px auto;
  background-color: rgba(248,248,255,0.8);
}
*/
.sign-in-form,
.sign-up-form,
.profile,
#posts-page,
#apost-page {
  padding-top: 80px;
  padding-bottom: 50px;
}

#post-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}

.post-card {
  height: 300px;
  width: 300px;
  margin: 15px !important;
  padding: 10px;
  background-color: #eef7fa;
}

.delete-post-button {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #cc0000;
  top: 0;
  right: 0;
  margin: -12px;
}
