<div id="outer-welcome-div">
  <div id="welcome-div">
    <div id="welcome-title-div">
      <h1 id="welcome-title"><typer words="['English', '한국어', '日本語', 'Español', 'Nederlands', 'Deutsche', '中文']" type-time='150' backspace-time='200' start-delay='1500' highlight-background='#2980b9'></typer></h1>
    </div>
  </div>

  <div>
    <div id="about-div">
      <img id="world-img" src="http://d7mj4aqfscim2.cloudfront.net/images/splash-2014/globe1.svg" height="500px" width="500px">
      <div class="about-info row">
        <div class="col s3">
          <h2><strong>ABOUT</strong></h2>
          <p>The multilinguists' goto app to practice your language skills!</p>
          <p><strong>Supported Languages:</strong> English | Spanish | Korean | Japanese | German | Dutch</p>
          <p>Join a community to help improve your language skills!</p>
        </div>
      </div>
    </div>
  </div>

  <div id="more-info">
    <h2>Learn anytime, anywhere!</h2>
    <p>Make your breaks and commutes more productive with our iPhone and Android apps. Download them and see why Apple and Google gave us their highest accolades.</p>
  </div>
</div>
