<div id="welcome-div">
  <div id="welcome-title-div">
    <h1 id="welcome-title"><img style="vertical-align: middle" src="../../../images/h.png" alt="" height="130px" width="140px">o n e</h1>
    <div>
      <button type="submit" class="btn btn-default">Start Now!</button>
    </div>
  </div>
</div>

<div id="about-div">
  <h1><strong>ABOUT</strong></h1>

  <div class="about row">
    <div class="about card transparent col s3">
      <p>Improve your translating skills by answering other users' posts.</p>
      <p>Need helpe with your English? Submit a post to be translated into English.</p>
      <p>Join a community to help improve your English!</p>
      <p>Google translate not cutting it for your professional emails?</p>
    </div>
    <div class="about card transparent col s3">
      <p>Improve your translating skills by answering other users' posts.</p>
      <p>Need helpe with your English? Submit a post to be translated into English.</p>
      <p>Join a community to help improve your English!</p>
      <p>Google translate not cutting it for your professional emails?</p>
    </div>
    <div class="about card transparent col s3">
      <p>Improve your translating skills by answering other users' posts.</p>
      <p>Need helpe with your English? Submit a post to be translated into English.</p>
      <p>Join a community to help improve your English!</p>
      <p>Google translate not cutting it for your professional emails?</p>
    </div>
  </div>
</div>
