<div class="profile">

  <h1>{{ vm.authService.currentUser().name }}'s Profile</h1>

  <h3>Update your user info</h3>

  <md-card id="update-profile-card">
    <md-card-content>
    <form ng-submit="vm.submitUpdate();">
      <div>
        <md-input-container>
          <label>Email</label>
          <input ng-model="vm.formData.email" type="text" class="form-control">
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <label>Name</label>
          <input ng-model="vm.formData.name" type="text" class="form-control">
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <label>Password</label>
          <input ng-model="vm.formData.password" type="text" class="form-control">
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <label>Password Confirmation</label>
          <input ng-model="vm.formData.passwordConfirmation" type="text" class="form-control">
        </md-input-container>
      </div>

      <md-button class="md-raised md-primary md-button md-ink-ripple" type="submit">Update Profile</button>

    </form>
    </md-card-content>
  </md-card>

</div>
