<div class="sign-in-form" ng-hide="vm.toggleValue">
  <h1 class="translateme">S I G N  I N</h1>

  <md-card id="login-card">
    <form ng-submit="vm.submitLogIn();">
      <div>
        <md-input-container>
          <label>Email</label>
          <input ng-model="vm.logIn.email" type="email" class="form-control">
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <label>Password</label>
          <input ng-model="vm.logIn.password" type="password" class="form-control">
        </md-input-container>
      </div>

      <md-button class="md-raised md-primary md-button md-ink-ripple" type="submit">Sign In</button>
    </form>
  </md-card>

  <p>
    <strong>
      If you are not a user yet,
      <a class="underline" ng-click="vm.toggleValue = !vm.toggleValue;"><u>Sign Up</u></a>.
    </strong>
  </p>
</div>

<div class="sign-up-form" ng-show="vm.toggleValue">
  <h1 class="translateme">Sign Up</h1>

  <md-card id="signup-card">
    <form ng-submit="vm.submitSignUp();">
      <div>
        <md-input-container>
          <label>Email</label>
          <input ng-model="vm.signUp.email" ng-class="{'red-border': vm.conflict}" type="email" class="form-control">
          <small ng-show="vm.conflict" class="text-danger"><em>Email exists…</em></small>
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <label>Name</label>
          <input ng-model="vm.signUp.name" type="text" class="form-control">
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <label>Password</label>
          <input ng-model="vm.signUp.password" type="password" class="form-control">
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <label>Password Confirmation</label>
          <input ng-model="vm.signUp.passwordConfirmation" type="password" class="form-control">
        </md-input-container>
      </div>

      <md-button class="md-raised md-primary md-button md-ink-ripple" type="submit">Sign Up</button>
    </form>
  </md-card>

  <p>
    <strong>
      If you are already a user,
      <a class="underline" ng-click="vm.toggleValue = !vm.toggleValue;"><u>Sign In</u></a>.
    </strong>
  </p>

  <p>
    If you can't remember your password,
    <a class="underline"><u>request a new one</u>.</a>
  </p>
</div>
