<div id="posts-page">

  <h1>T R A N S L A T E M E</h1>
  <div id="post-container">
    <div ng-repeat="post in vm.posts">
      <div class="post-card card" ng-click="vm.showPost(post);">
        <ul>
          <li>Body: {{ post.body }}</li>
          <li>Submitted by: {{ post.author }}</li>
          <li>Language: {{ post.language }}</li>
          <li>Level: {{ post.skillLevel }}</li>
          <li>Date: {{ post.createdAt }}</li>
        </ul>
        <div ng-click="vm.deletePost(post);" class="delete-post-button">X</div>
      </div>
    </div>
  </div>

  <ul>
    <li>Body: {{ vm.selectedPost.body }}</li>
    <li>Submitted by: {{ vm.selectedPost.author }}</li>
    <li>Language: {{ vm.selectedPost.language }}</li>
    <li>Level: {{ vm.selectedPost.skillLevel }}</li>
    <li>Date: {{ vm.selectedPost.createdAt }}</li>
  </ul>
  <button type="button" ng-click="vm.getPosts();">See All</button>

  <h1>Create a Post</h1>

  <form ng-submit="vm.createPost();">
    <div>
      <label for="postBody">Post</label>
      <input ng-model="vm.newPost.body" type="text" class="form-control" id="postBody">
    </div>
    <div>
      <label for="postLanguage">Language</label>
      <input ng-model="vm.newPost.language" type="text" class="form-control" id="postLanguage">
    </div>
    <div>
      <label for="postSkillLevel">Skill Level</label>
      <select ng-model="vm.newPost.skillLevel" class="form-control" id="postSkillLevel">
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default">Submit New Post</button>
  </form>

</div>
